{% extends 'base.html' %}
{% block content %}

<section>
    <h2 class="home_tile"> All Recipes </h2>

      <div class="card_wrapper">
        {% for recepe in recepes %}
            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>{{recepe.title}}..</p></div>
                <div class="by_name"> By {{recepe.user}}</div>
                <div class="comments_sign">
                <i class="far fa-comments"> {{recepe.reviews.all.count}}</i>
                </div>
            </div>
        {% endfor %}
     </div>
</section>

{% endblock content%}