{% extends 'base.html' %}
{% block content %}

<section>
    <h2 class="home_tile"> All Recipes </h2>

      <div class="card_wrapper">
            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i class="far fa-comments"> 5 </i>
                </div>
            </div>

            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i class="far fa-comments"> 5 </i>
                </div>
            </div>
            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i class="far fa-comments"> 5 </i>
                </div>
            </div>
            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i  class="far fa-comments"> 5 </i>
                </div>
            </div>
            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i class="far fa-comments"> 5 </i>
                </div>
            </div>
            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i class="far fa-comments"> 5 </i>
                </div>
            </div>

            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i class="far fa-comments"> 5 </i>
                </div>
            </div>
            <div class="dish-card">
                <a class="dish-image" href=""> <img src="https://img.jamieoliver.com/jamieoliver/recipe-database/121936025.jpg?tr=w-800,h-1066"></a>
                <div class="dish-title"><p>This Vegetarian Pasta Dis..</p></div>
                <div class="by_name"> By Gerson</div>
                <div class="comments_sign">
                <i class="far fa-comments"> 5 </i>
                </div>
            </div>
     </div>
</section>

{% endblock content%}