/*-------------------------------------------------------------------- Variables */

:root {
  --chinese-red: #a13723;
  --culture: #f2f2f2;
  --white: #ffffff;
  --Granite-grey: #626567;
  --black: #212529;
  --font: "Montserrat", Georgia, serif;
}

/* -------------------------------------------------------------------- Resets */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--culture);
  min-height: 400px;
  margin-bottom: 100px;
  font-family: var(--font);
}
a {
  text-decoration: none;
  color: var(--white);
}
/* -------------------------------------------------------------------- Hover / Focus */

.my-brand:hover,
.nav-link:focus,
.nav-link:hover {
  color: var(--white);
}

/* -------------------------------------------------------------------- header */
nav {
  position: fixed;
  background-color: var(--chinese-red);
  color: var(--white);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link {
  color: var(--white);
}
